<app-navbar></app-navbar>

<section>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/stylesEqui.min.css">

    <div id="promo">
        <div class="jumbotron">
            <h1>Equipamiento</h1>
            <p>En este apartado, usted puede añadir, actualizar o eliminar el equipamiento que usted necesite para su congreso.</p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 "></div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 ">
                <form class="search-form">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
                              <form #roomForm="ngForm" (ngSubmit)="onSaveSubfamily(roomForm)">
                                <div class="input-group">

                                  <input type="hidden" name="id">
                                  <!-- Almacenar la ID del libro. -->

                                  <input type="hidden" name="userUid" [value]="userUid">

                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-plus"></i></button>
                                    </div>
                                  <input type="text"  name="nombreSubFamilia" id="nombreSubFamilia" [(ngModel)]="nombreSubFamilia" placeholder="Añade la familia">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="submit" (ngSubmit)="onSaveSubfamily(roomForm)"><i class="fas fa-pen"></i></button>
                                        <button class="btn btn-outline-danger" type="button" (click)="onDeleteSubFamily()"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                              </form>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-search"></i>
                            </span>
                                    </div>
                                    <input class="form-control" type="text" name="filterPost" [(ngModel)]="subfamilySearch" autocomplete="off" placeholder="Busque un equipamiento">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 "></div>
        </div>
    </div>

    <div class="container-fluid mt-5">

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a (click)="idSubFamilia = ''; nombreSubFamilia = ''" class="nav-link active" data-toggle="tab" id="general-tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
                    </li>
                    <li *ngFor="let subfamilia of subfamily" role="presentation" class="nav-link active">
                      <a (click)="nombreSubFamilia = subfamilia.nombreSubFamilia; idSubFamilia = subfamilia.idSubFamilia" aria-controls="one" role="tab" href="#one" id="nombreFamilia" data-toggle="tab">{{this.subfamilia.nombreSubFamilia}}</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Cantidad</th>
                                                <th>Disponibles</th>
                                                <th>Familia</th>
                                                <th>Subfamilia</th>
                                                <th>Producto</th>
                                                <th>Número serie</th>
                                                <th>Descripción</th>
                                                <th>Proovedor</th>
                                                <th>Valor 1</th>
                                                <th>Valor 2</th>
                                                <th>&nbsp;<button class="btn bottonColor" type="button" data-toggle="modal" data-target="#modalEquipment">Nuevo Equipamiento</button></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let equipment of equipments | filterEquipments: subfamilySearch">
                                            <tr>
                                                <td>{{equipment.cantidad}}</td>
                                                <td>{{equipment.disponibilidad}}</td>
                                                <td>{{equipment.familia}}</td>
                                                <td>{{equipment.subfamilia}}</td>
                                                <td>{{equipment.producto}}</td>
                                                <td>{{equipment.numeroSerie}}</td>
                                                <td>{{equipment.descripcion}}</td>
                                                <td>{{equipment.proveedor}}</td>
                                                <td>{{equipment.valor1}}</td>
                                                <td>{{equipment.valor2}}</td>

                                                <td class="d-flex justify-content-center">

                                                    <div *ngIf="equipment.userUid == userUid || isAdmin == true; else noOwner">
                                                        <button class="btn btn-primary" type="button" (click)="onPreUpdateEquipments(equipment)" data-toggle="modal" data-target="#modalEquipment"><i class="fas fa-pen"></i></button>
                                                    </div>

                                                    <ng-template #noOwner>
                                                        <button class="btn btn-secondary" disabled="true"><i class="fas fa-pen"></i></button>
                                                    </ng-template>


                                                    <div *ngIf="isAdmin == true; else noAdmin">
                                                        <button class="btn btn-danger" type="button" (click)="onDeleteEquipment(equipment.idEquipamiento)"><i class="fas fa-trash-alt"></i></button>
                                                    </div>


                                                    <ng-template #noAdmin>
                                                        <button class="btn btn-danger" type="button" disabled="true"><i class="fas fa-trash-alt"></i></button>
                                                    </ng-template>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Multimedia-->
                    <div class="tab-pane fade active" role="tabpanel" id="one">
                        <!-- Multimedia-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Cantidad</th>
                                                <th>Familia</th>
                                                <th>Subfamilia</th>
                                                <th>Producto</th>
                                                <th>Número serie</th>
                                                <th>Descripción</th>
                                                <th>Proovedor</th>
                                                <th>Valor 1</th>
                                                <th>Valor 2</th>
                                                <th>&nbsp;<button class="btn bottonColor" type="button" data-toggle="modal" data-target="#modalEquipment">Nuevo Equipamiento</button></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let equipment of equipments | filterEquipments: subfamilySearch">
                                        <tr *ngIf="nombreSubFamilia == equipment.familia">
                                                <td>{{equipment.cantidad}}</td>
                                                <td>{{equipment.disponibilidad}}</td>
                                                <td>{{equipment.familia}}</td>
                                                <td>{{equipment.subfamilia}}</td>
                                                <td>{{equipment.producto}}</td>
                                                <td>{{equipment.numeroSerie}}</td>
                                                <td>{{equipment.descripcion}}</td>
                                                <td>{{equipment.proveedor}}</td>
                                                <td>{{equipment.valor1}}</td>
                                                <td>{{equipment.valor2}}</td>

                                                <td class="d-flex justify-content-center">

                                                    <div *ngIf="equipment.userUid == userUid || isAdmin == true; else noOwner">
                                                        <button class="btn btn-primary" type="button" (click)="onPreUpdateEquipments(equipment)" data-toggle="modal" data-target="#modalEquipment"><i class="fas fa-pen"></i></button>
                                                    </div>

                                                    <ng-template #noOwner>
                                                        <button class="btn btn-secondary" disabled="true"><i class="fas fa-pen"></i></button>
                                                    </ng-template>


                                                    <div *ngIf="isAdmin == true; else noAdmin">
                                                        <button class="btn btn-danger" type="button" (click)="onDeleteEquipment(equipment.idEquipamiento)"><i class="fas fa-trash-alt"></i></button>
                                                    </div>


                                                    <ng-template #noAdmin>
                                                        <button class="btn btn-danger" type="button" disabled="true"><i class="fas fa-trash-alt"></i></button>
                                                    </ng-template>

                                                </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<app-modal [userUid]="userUid"></app-modal>
