<nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink=""><img src="assets/img/logo2.png"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="">Inicio</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/caracteristicas/">Características</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/modalidades/">Modalidades</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/precios/">Precios</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/user/register/">Resgistrate</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/user/login/">Iniciar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>