<link rel="stylesheet" href="assets/css/stylesPre.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<app-navbar-exterior></app-navbar-exterior>

<section class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Modalidades y precios de las apps</h2>
            <ul id="tabsJustified" class="nav nav-tabs">
                <li class="nav-item"><a href="" data-target="#andiOS" data-toggle="tab" class="nav-link small text-uppercase">Individual Android/iOS</a></li>
                <li class="nav-item"><a href="" data-target="#congre" data-toggle="tab" class="nav-link small text-uppercase active">CongresoMovil App</a></li>
                <li class="nav-item"><a href="" data-target="#web" data-toggle="tab" class="nav-link small text-uppercase">Web-App</a></li>
            </ul>
            <br>
            <div id="tabsJustifiedContent" class="tab-content">

                <div id="andiOS" class="tab-pane fade">
                    <div id="generic_price_table">
                        <section>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <div class="generic_content clearfix">
                                            <div class="generic_head_price clearfix">
                                                <div class="generic_head_content clearfix">
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Android</span>
                                                    </div>
                                                </div>
                                                <div class="generic_price_tag clearfix">
                                                    <span class="price">
                                                            <span class="sign">€</span>
                                                    <span class="currency">500</span>
                                                    <span class="cent">.00</span>
                                                    <span class="month">/Año</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="generic_feature_list">
                                                <ul>
                                                    <li><span>200MB</span> Alojamiento</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Todos los módulos disponibles</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Contenido editable desde el panel</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Publicación del evento en tiendas virtuales</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Soporte consultas vía email/skype/teléfono</li>

                                                </ul>
                                            </div>
                                            <div class="generic_price_btn clearfix">
                                                <a>Comprar</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="generic_content clearfix">
                                            <div class="generic_head_price clearfix">
                                                <div class="generic_head_content clearfix">
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>iOS</span>
                                                    </div>
                                                </div>
                                                <div class="generic_price_tag clearfix">
                                                    <span class="price">
                                                            <span class="sign">€</span>
                                                    <span class="currency">550</span>
                                                    <span class="cent">.00</span>
                                                    <span class="month">/Año</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="generic_feature_list">
                                                <ul>
                                                    <li><span>200MB</span> Alojamiento</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Todos los módulos disponibles</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Contenido editable desde el panel</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Publicación del evento en tiendas virtuales</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Soporte consultas vía email/skype/teléfono</li>
                                                </ul>
                                            </div>
                                            <div class="generic_price_btn clearfix">
                                                <a>Comprar</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div id="congre" class="tab-pane fade active show">
                    <div id="generic_price_table">
                        <section>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="generic_content clearfix">
                                            <div class="generic_head_price clearfix">
                                                <div class="generic_head_content clearfix">
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Básico</span>
                                                    </div>
                                                </div>
                                                <div class="generic_price_tag clearfix">
                                                    <span class="price">
                                                    <span class="sign">€</span>
                                                    <span class="currency">199</span>
                                                    <span class="cent">.99</span>
                                                    <span class="month">/Mes</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="generic_feature_list">
                                                <ul>
                                                    <li><span>100</span> Nº usuarios</li>
                                                    <li><span>50MB</span> Alojamiento</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Todos los módulos disponibles</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Imagen personalizada y contenido editable</li>
                                                    <li><span><i class="fas fa-times-circle" style="color:#07a2c9"></i></span> Asesoramiento avanzado de diseño</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Publicación del evento en app</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Versión web app</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Soporte email</li>
                                                    <li><span><i class="fas fa-times-circle" style="color:#07a2c9"></i></span> Soporte skype</li>
                                                    <li><span><i class="fas fa-times-circle" style="color:#07a2c9"></i></span> Soporte teléfono</li>
                                                </ul>
                                            </div>
                                            <div class="generic_price_btn clearfix">
                                                <a>Comprar</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="generic_content active clearfix">
                                            <div class="generic_head_price clearfix">
                                                <div class="generic_head_content clearfix">
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Estándar</span>
                                                    </div>
                                                </div>
                                                <div class="generic_price_tag clearfix">
                                                    <span class="price">
                                                    <span class="sign">€</span>
                                                    <span class="currency">299</span>
                                                    <span class="cent">.99</span>
                                                    <span class="month">/Año</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="generic_feature_list">
                                                <ul>
                                                    <li><span>200</span> Nº usuarios</li>
                                                    <li><span>100MB</span> Alojamiento</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Todos los módulos disponibles</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Imagen personalizada y contenido editable</li>
                                                    <li><span><i class="fas fa-times-circle" style="color:#07a2c9"></i></span> Asesoramiento avanzado de diseño</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Publicación del evento en app</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Versión web app</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Soporte email</li>
                                                    <li><span><i class="fas fa-times-circle" style="color:#07a2c9"></i></span> Soporte skype</li>
                                                    <li><span><i class="fas fa-times-circle" style="color:#07a2c9"></i></span> Soporte teléfono</li>
                                                </ul>
                                            </div>
                                            <div class="generic_price_btn clearfix">
                                                <a>Comprar</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="generic_content clearfix">
                                            <div class="generic_head_price clearfix">
                                                <div class="generic_head_content clearfix">
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Avanzado</span>
                                                    </div>
                                                </div>
                                                <div class="generic_price_tag clearfix">
                                                    <span class="price">
                                                    <span class="sign">€</span>
                                                    <span class="currency">449</span>
                                                    <span class="cent">.99</span>
                                                    <span class="month">/Año</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="generic_feature_list">
                                                <ul>
                                                    <li><span>Ilimitado</span> Nº usuarios</li>
                                                    <li><span>200MB</span> Alojamiento</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Todos los módulos disponibles</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Imagen personalizada y contenido editable</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Asesoramiento avanzado de diseño</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Publicación del evento en app</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Versión web app</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Soporte email</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Soporte skype</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Soporte teléfono</li>
                                                </ul>
                                            </div>
                                            <div class="generic_price_btn clearfix">
                                                <a>Comprar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div id="web" class="tab-pane fade">
                    <div id="generic_price_table">
                        <section>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <div class="generic_content active clearfix">
                                            <div class="generic_head_price clearfix">
                                                <div class="generic_head_content clearfix">
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Web-App</span>
                                                    </div>
                                                </div>
                                                <div class="generic_price_tag clearfix">
                                                    <span class="price">
                                                            <span class="sign">€</span>
                                                    <span class="currency">450</span>
                                                    <span class="cent">.00</span>
                                                    <span class="month">/Año</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="generic_feature_list">
                                                <ul>
                                                    <li><span>200MB</span> Alojamiento</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Todos los módulos disponibles</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Contenido editable desde el panel</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Creación de versión web app para navegadores web</li>
                                                    <li><span><i class="fas fa-check-circle" style="color:#07a2c9"></i></span> Soporte consultas vía email/skype/teléfono</li>
                                                </ul>
                                            </div>
                                            <div class="generic_price_btn clearfix">
                                                <a>Comprar</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="main_grid_contact">
                <div class="form">
                    <h3 class="text-uppercase mb-5 text-center">Contacta con nosotros para más info</h3>
                    <form action="#" method="post">
                        <div class="form-group mt-3">
                            <input type="text" class="margin2 form-control" name="name" placeholder="Nombre completo" required="">
                            <input type="text" name="name" class="form-control" placeholder="Empresa" required="">
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="margin2 form-control" name="email" placeholder="Ejemplo@gmail.com" required="">
                            <input type="text" name="number" class="form-control" placeholder="Telefono movil" required="">
                        </div>
                        <div class="input-group mt-3">
                            <textarea rows="4" cols="50" class="form-control" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="input-group1 mt-3">
                            <button class="submit btn form-control">Enviar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
