<app-navbar></app-navbar>
<section>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/stylesIn.min.css">
    <div id="promo">
        <div class="jumbotron">
            <h1>Invitados</h1>
            <p>En esta sección usted puede añadir, actualizar o eliminar los invitados que asistirán al congreso.</p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 "></div>
          <!-- SELECT -->
          <div class="row d-flex justify-content-center">
            <h2>Seleccione el congreso para mostrar los invitados.</h2>
            <select class="form-control select mt-3" (change)="obtenerNombreCongreso($event)">
              <option value="">Seleccione el congreso</option>
              <option *ngFor="let congreso of congress" value="{{congreso.idCongreso}}">{{congreso.nombreCongreso}}</option>
            </select>
          </div>
          <!-- SELECT -->

          <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                <form class="search-form">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background-color:rgb(174,180,186);">
                    <i class="fa fa-search"></i>
                  </span>
                        </div>
                        <input class="form-control" type="text" name="busqueda" [(ngModel)]="filterGuest" placeholder="Busque un invitado">
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 "></div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Dni</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>&nbsp;<button class="btn bottonColor" type="button" data-toggle="modal" data-target="#modalGuest">Nuevo Invitado</button></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let guest of guests | filterGuest: filterGuest">
                        <tr *ngIf="(guest.nombreCongreso == nombreCongresoSeleccionado)">
                            <td>{{guest.nombre}}</td>
                            <td>{{guest.apellidos}}</td>
                            <td>{{guest.dni}}</td>
                            <td>{{guest.telefono}}</td>
                            <td>{{guest.correo}}</td>
                            <td class="d-flex justify-content-center">

                                <div *ngIf="guest.userUid == userUid || isAdmin == true; else noOwner">
                                    <button class="btn btn-primary" type="button" (click)="onPreUpdateGuest(guest)" data-toggle="modal" data-target="#modalGuest"><i class="fas fa-pen"></i></button>
                                </div>

                                <ng-template #noOwner>
                                    <button class="btn btn-secondary" disabled="true"><i class="fas fa-pen"></i></button>
                                </ng-template>

                                <div *ngIf="isAdmin == true; else noAdmin">
                                    <button class="btn btn-danger" type="button" (click)="onDeleteGuest(guest.idInvitado)"><i class="fas fa-trash-alt"></i></button>
                                </div>

                                <ng-template #noAdmin>
                                    <button class="btn btn-danger btn-secondary" type="button" disabled="true"><i class="fas fa-trash-alt"></i></button>
                                </ng-template>

                                <div *ngIf="isAdmin == true; else dontShow">
                                    <button class="btn btn-info" type="button" (click)="showCheck(guest)" routerLink="/check"><i class="fas fa-chart-pie"></i></button>
                                </div>

                                <ng-template #dontShow>
                                    <button class="btn btn-info" type="button" disabled="true"><i class="fas fa-chart-pie"></i></button>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/scriptIn.min.js"></script>
</section>
<app-modal [userUid]="userUid"></app-modal>
