<app-navbar></app-navbar>
<link rel="stylesheet" href="assets/css/stylesIn.min.css">
    <div id="promo">
        <div class="jumbotron">
            <h1>Invitados</h1>
            <p>En esta sección usted puede añadir, actualizar o eliminar los invitados que asistirán al congreso.</p>
            <p></p>
        </div>
    </div>
    <div id="promo2">
      <form class="search-form">
        <div class="input-group">
          <div class="input-group-prepend">
                  <span class="input-group-text" style="background-color:rgb(174,180,186);">
                    <i class="fa fa-search"></i>
                  </span>
          </div>
          <input class="form-control" type="text" name="busqueda" [(ngModel)]="nombre" (input)="search()" placeholder="Busque un invitado"><!-- Arreglar para que se quede más centrado -->
        </div>
      </form>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th><strong>Apellidos</strong></th>
                        <th>Dni</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>&nbsp;<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalGuest">Nuevo Invitado</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let guest of guests">
                      <td>{{guest.nombre}}</td>
                      <td>{{guest.apellidos}}</td>
                      <td>{{guest.dni}}</td>
                      <td>{{guest.telefono}}</td>
                      <td>{{guest.correo}}</td>
                        <td class="justify-content-between" id="botones" style="color:rgba(33,37,41,0);">

                          <div *ngIf="guest.userUid == userUid || isAdmin == true; else noOwner">
                            <button class="btn btn-primary" type="button" (click)="onPreUpdateCongress(guest)" data-toggle="modal" data-target="#modalGuest">Actualizar</button>
                          </div>


                            <ng-template #noOwner>
                              <button class="btn btn-secondary" (click)="onPreUpdateCongress(guest)" disabled="true">Actualizar</button>
                            </ng-template>


                          <div *ngIf="isAdmin == true; else noAdmin">
                            <button class="btn btn-danger" type="button" id="borrar" style="background-color:rgb(255,0,15);" (click)="onDeleteCongress(guest.idInvitado)">Borrar</button>
                          </div>


                            <ng-template #noAdmin>
                            <button class="btn btn-danger" type="button" (click)="onDeleteCongress(guest.idInvitado)" disabled="true">Delete</button>
                            </ng-template>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/scriptIn.min.js"></script>

<app-modal [userUid]="userUid"></app-modal>
