<app-navbar></app-navbar>
<section>
    <link rel="stylesheet" href="assets/css/stylesSi.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <div id="promo">
        <div class="jumbotron">
            <h1>Sinópticos</h1>
            <p>En esta sección, usted podrá añadir editar o eliminar un sinóptico.</p>
            <p></p>
        </div>
    </div>
    <div id="promo2">
        <form class="search-form">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color:rgb(174,180,186);">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
                <input class="form-control" type="text" name="busqueda" [(ngModel)]="nombreSinopticoFiltro" placeholder="Busque por la sala">
                <!-- Arreglar para que se quede más centrado -->
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Sinópticos</th>
                        <th><strong>Descripción</strong></th>
                        <th>&nbsp;<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalSinaptics">Nuevo&nbsp;Sinóptico</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sinoptic of sinaptics | filterSinaptic:nombreSinopticoFiltro">
                        <td>{{sinoptic.nombreSinaptico}}</td>
                        <td>{{sinoptic.descripcionSinaptico}}</td>
                        <td id="botones" style="color:rgba(33,37,41,0);">

                            <div *ngIf="sinoptic.userUid == userUid || isAdmin == true; else noOwner">
                                <button class="btn btn-primary" type="button" (click)="onPreUpdateCongress(sinoptic)" data-toggle="modal" data-target="#modalSinaptics">Actualizar</button>
                            </div>


                            <ng-template #noOwner>
                                <button class="btn btn-secondary" (click)="onPreUpdateCongress(sinoptic)" disabled="true">Actualizar</button>
                            </ng-template>


                            <div *ngIf="isAdmin == true; else noAdmin">
                                <button class="btn btn-danger" type="button" id="borrar" style="background-color:rgb(255,0,15);" (click)="onDeleteCongress(sinoptic.idSinaptico)">Borrar</button>
                            </div>


                            <ng-template #noAdmin>
                                <button class="btn btn-danger" type="button" (click)="onDeleteCongress(sinoptic.idSinaptico)" disabled="true">Borrar</button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/scriptSi.min.js"></script>
</section>
<app-modal [userUid]="userUid"></app-modal>