<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <div class="jumbotron jumbotron-fluid jumbotron-main" style="height:100vh;width:100%;">
        <div id="particles-js">
        </div>
        <div class="container center-vertically-holder">
            <div class="row center-vertically">
                <div class="col-md-8 offset-sm-0 offset-md-2 offset-lg-2 text-center" style="margin-top:100px;margin-bottom:100px;">
                    <h1 data-aos="fade-up" data-aos-duration="1200" data-aos-offset="700" id="hero-title" style="margin-bottom:0; opacity: inherit">ERROR 404</h1>
                    <p data-aos="fade-up" data-aos-duration="120" data-aos-offset="1450" id="hero-subtitle" style="margin-top:19px;font-size:7;font-family:Poppins, sans-serif; opacity: inherit">Página no encontrada</p>
                    <button class="btn" type="button" data-aos="fade-up" data-aos-duration="120" data-aos-delay="1500" id="hero-btn" (click)="checkLink()">Volver al Inicio&nbsp;</button>
                </div>
            </div>
        </div>
    </div>
</body>
