<app-navbar></app-navbar>
<link rel="stylesheet" href="assets/css/stylescon.min.css">
    <div id="promo">
        <div class="jumbotron">
            <h1>Congresos</h1>
            <p>En este apartado, usted puede añadir, actualizar o eliminar los congresos que usted tenga almacenados.</p>
            <p></p>
        </div>

    </div>
    <div id="promo2">
        <form class="search-form">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="background-color:rgb(174,180,186);">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
                <input class="form-control" type="text" name="filterPost" [(ngModel)]="filterPost"  autocomplete="off" placeholder="Busque un congreso"><!-- Arreglar para que se quede más centrado -->
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre del Congreso</th>
                        <th>Dirección del Congreso</th>
                        <th>&nbsp;<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalCongress">Nuevo Congreso</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of congress | filter:filterPost">
                        <td>{{post.nombreCongreso}}</td>
                        <td>{{post.nombreCongreso}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/scriptcon.min.js"></script>




<app-modal [userUid]="userUid"></app-modal>
