<!-- Modal para el congreso -->

<div class="modal fade" id="modalCongress" tabindex="-1" role="dialog" aria-labelledby="modalCongress" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalCongreso">
                    {{ !this.dataCongress.selectedCongreso.idCongreso ? 'Nuevo Congreso' : 'Actualizar Congreso'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #congressForm="ngForm" (ngSubmit)="onSaveCongress(congressForm, 'congreso')">

                    <input type="hidden" name="idCongreso" [(ngModel)]="this.dataCongress.selectedCongreso.idCongreso">
                    <!-- Almacenar la ID del libro. -->

                    <input type="hidden" name="userUid" [value]="userUid">

                    <div class="form-group">
                        <label for="nombreCongreso" class="col-form-label">Nombre del Congreso:</label>
                        <input type="text" class="form-control" name="nombreCongreso" [(ngModel)]="this.dataCongress.selectedCongreso.nombreCongreso" placeholder="30 Enfermeras...">
                        <!-- Para cuando realicemos un update -->
                    </div>


                    <div class="form-group">
                        <label for="direccion">Dirección del congreso</label>
                        <input type="text" name="direccion" class="form-control" placeholder="C/ Blasco Ibañez..." [(ngModel)]="this.dataCongress.selectedCongreso.direccion">
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fechaInicioCongreso">Fecha Inicio Congreso</label>
                            <input type="date" name="fechaInicioCongreso" class="form-control" placeholder="19/04/2019" [(ngModel)]="this.dataCongress.selectedCongreso.fechaInicioCongreso">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fechaSalidaCongreso">Fecha Finalización Congreso</label>
                            <input type="date" name="fechaSalidaCongreso" class="form-control" placeholder="20/04/2019" [(ngModel)]="this.dataCongress.selectedCongreso.fechaSalidaCongreso">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseCongreso>Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Sala</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para el invitado -->

<div class="modal fade" id="modalGuest" tabindex="-1" role="dialog" aria-labelledby="modalGuest" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalInvitado">
                    {{ !this.dataGuest.selectedInvitado.idInvitado ? 'Nuevo Invitado' : 'Actualizar Invitado'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #guestForm="ngForm" (ngSubmit)="onSaveCongress(guestForm, 'invitado')">

                    <input type="hidden" name="idInvitado" [(ngModel)]="this.dataGuest.selectedInvitado.idInvitado">
                    <!-- Almacenar la ID del libro. -->

                    <input type="hidden" name="userUid" [value]="userUid">

                    <div class="form-group">
                        <label for="dni" class="col-form-label">DNI (Documento Nacional de Identidad)</label>
                        <input type="text" class="form-control" name="dni" [(ngModel)]="this.dataGuest.selectedInvitado.dni" placeholder="XXXXXXXX-[A-Z]">
                        <!-- Para cuando realicemos un update -->
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre</label>
                            <input type="date" name="nombre" class="form-control" placeholder="Marío" [(ngModel)]="this.dataGuest.selectedInvitado.nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellidos">Apellidos</label>
                            <input type="date" name="apellidos" class="form-control" placeholder="Luna" [(ngModel)]="this.dataGuest.selectedInvitado.apellidos">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="telefono">Teléfono</label>
                            <input type="number" name="telefono" class="form-control" placeholder="96-157-05-12" [(ngModel)]="this.dataGuest.selectedInvitado.telefono">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="correo">Correo</label>
                            <input type="email" name="correo" class="form-control" placeholder="example@example.com" [(ngModel)]="this.dataGuest.selectedInvitado.correo">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseInvitado>Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Invitado</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de las Salas -->

<div class="modal fade" id="modalRoom" tabindex="-1" role="dialog" aria-labelledby="modalRoom" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalSala">
                    {{ !this.dataRoom.selectedSala.idSala ? 'Nueva Sala' : 'Actualizar Sala'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #roomForm="ngForm" (ngSubmit)="onSaveCongress(roomForm, 'sala')">

                    <input type="hidden" name="idSala" [(ngModel)]="this.dataRoom.selectedSala.idSala">
                    <!-- Almacenar la ID del libro. -->

                    <input type="hidden" name="userUid" [value]="userUid">

                    <div class="form-group">
                        <label for="nombreSala" class="col-form-label">Nombre de Sala</label>
                        <input type="text" class="form-control" name="nombreSala" [(ngModel)]="this.dataRoom.selectedSala.nombreSala" placeholder="Sala Plenaria">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fechaCongreso">Fecha del Congreso</label>
                            <input type="date" name="fechaCongreso" class="form-control" placeholder="27/09/2019" [(ngModel)]="this.dataRoom.selectedSala.fechaCongreso">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombreCongreso">Nombre del Congreso</label>

                            <select class="form-control select" (change)="obtenerNombreCongreso($event)">
                                <option value="">Seleccione el congreso</option>
                                <option *ngFor="let congreso of congress" value="{{congreso.idCongreso}}">{{congreso.nombreCongreso}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nombreSesion" class="col-form-label">Nombre de la sesión</label>
                        <input type="text" class="form-control" name="nombreSesion" [(ngModel)]="this.dataRoom.selectedSala.nombreSesion" placeholder="Acto Inaugural">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fechaInicioEvento">Fecha del Congreso</label>
                            <input type="time" name="fechaInicioEvento" class="form-control" placeholder="09:30" [(ngModel)]="this.dataRoom.selectedSala.fechaInicioEvento">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fechaFinalizacionEvento">Nombre del Congreso</label>
                            <input type="time" name="fechaFinalizacionEvento" class="form-control" placeholder="10:00" [(ngModel)]="this.dataRoom.selectedSala.fechaFinalizacionEvento">
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseRoom>Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Sala</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Sinaptico -->

<div class="modal fade" id="modalSinaptics" tabindex="-1" role="dialog" aria-labelledby="modalSinaptics" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalSinoptico">
                    {{ !this.sinaptic.selectedSinaptic.idSinaptico ? 'Nuevo Sinóptico' : 'Actualizar Sinóptico'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #sinopticForm="ngForm" (ngSubmit)="onSaveCongress(sinopticForm, 'sinoptico')">

                    <input type="hidden" name="idSala" [(ngModel)]="this.sinaptic.selectedSinaptic.idSinaptico">
                    <!-- Almacenar la ID del libro. -->

                    <input type="hidden" name="userUid" [value]="userUid">

                    <div class="form-group">
                        <label for="nombreSinaptico" class="col-form-label">Nombre del Sinóptico</label>
                        <input type="text" class="form-control" name="nombreSinaptico" [(ngModel)]="this.sinaptic.selectedSinaptic.nombreSinaptico" placeholder="Programa Sinóptico 30 Enfermeras">
                    </div>

                    <div class="form-group">
                        <label for="descripcionSinaptico" class="col-form-label">Descripción</label>
                        <input type="text" class="form-control" name="descripcionSinaptico" [(ngModel)]="this.sinaptic.selectedSinaptic.descripcionSinaptico" placeholder="Congreso del 27 al 29 de marzo">
                    </div>

                    <hr>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="subirImagenSinoptico($event)">
                            <label class="custom-file-label" for="inputGroupFile01">Subir imagen</label>
                        </div>
                    </div>
                    <br>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'"></div>
                    </div>
                    <br>
                    <input type="hidden" #imageUser [value]="urlImage | async">
                    <!-- URL en Firebase de la imagen que se almacena -->


                    <ng-template #btnDisable>
                        <button type="submit" disabled=true class="btn btn-lg btn-secondary btn-block">Guardar Sinóptico</button>
                    </ng-template>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseSinaptic>Cerrar</button>
                        <button *ngIf="urlImage | async; else btnDisable" type="submit" class="btn btn-primary">Guardar Sinóptico</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal Eventos -->

<div class="modal fade" id="modalEvents" tabindex="-1" role="dialog" aria-labelledby="modalEvents" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalEvento">
          {{ !this.dataEvent.selectedEvent.idEvent ? 'Nuevo Evento' : 'Actualizar Evento'}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #eventForm="ngForm" (ngSubmit)="onSaveCongress(eventForm, 'evento')">

          <input type="hidden" name="idSala" [(ngModel)]="this.dataEvent.selectedEvent.idEvent">

          <input type="hidden" name="userUid" [value]="userUid">

          <select class="form-control select" (change)="obtenerNombreCongreso($event)"><!-- Modificar para mañana -->
            <option value="">Seleccione el congreso</option>
            <option *ngFor="let congreso of congress" value="{{congreso.idCongreso}}">{{congreso.nombreCongreso}}</option>
          </select>

          <div class="form-group">
            <label for="title" class="col-form-label">Nombre Evento</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="this.dataEvent.selectedEvent.title" placeholder="Inaguración Evento">
          </div>

          <div class="form-group">
            <label for="color" class="col-form-label">Escoge un color</label>
            <input type="color" list="seleccionColores" class="form-control" name="color" [(ngModel)]="this.dataEvent.selectedEvent.color" placeholder="2019-06-12T19:30">
            <datalist id="seleccionColores">
              <option>#4a86e8</option>
              <option>#cccd79</option>
              <option>#990000</option>
              <option>#660000</option>
              <option>#330000</option>
              <option>red</option> <!--ignored as invalid -->
              <option>#F00</option> <!--ignored as invalid -->
            </datalist>
          </div>

          <hr>

          <div class="form-group">
            <label for="start" class="col-form-label">Hora Inicio Sesión (Si usas Safari, deberás escribirlo a mano)</label>
            <input type="datetime-local" class="form-control" name="start" [(ngModel)]="this.dataEvent.selectedEvent.start" placeholder="2019-06-12T19:30">
          </div>

          <div class="form-group">
            <label for="end" class="col-form-label">Hora Fin Sesión (Si usas Safari, deberás escribirlo a mano)</label>
            <input type="datetime-local" class="form-control" name="end" [(ngModel)]="this.dataEvent.selectedEvent.end" placeholder="2019-06-13T19:30">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseEvents>Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
