<!-- Modal para el congreso -->

<div class="modal fade" id="modalCongress" tabindex="-1" role="dialog" aria-labelledby="modalCongress" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalCongreso">
                    {{ !this.dataCongress.selectedCongreso.idCongreso ? 'Nuevo Congreso' : 'Actualizar Congreso'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #congressForm="ngForm" (ngSubmit)="onSaveCongress(congressForm, 'congreso')">

                    <input type="hidden" name="idCongreso" [(ngModel)]="this.dataCongress.selectedCongreso.idCongreso">

                    <input type="hidden" name="userUid" [value]="userUid">

                    <div class="form-group">
                        <label for="nombreCongreso" class="col-form-label">Nombre del Congreso:</label>
                        <input type="text" class="form-control" name="nombreCongreso" [(ngModel)]="this.dataCongress.selectedCongreso.nombreCongreso" placeholder="30 Enfermeras...">
                        <!-- Para cuando realicemos un update -->
                    </div>


                    <div class="form-group">
                        <label for="sedeCongreso">Sede del congreso</label>
                        <input type="text" name="sedeCongreso" class="form-control" placeholder="VALENCIA" [(ngModel)]="this.dataCongress.selectedCongreso.sedeCongreso">
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fechaInicioCongreso">Fecha Inicio Congreso</label>
                            <input type="datetime-local" name="fechaInicioCongreso" class="form-control" placeholder="19/04/2019" [(ngModel)]="this.dataCongress.selectedCongreso.fechaInicioCongreso">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fechaSalidaCongreso">Fecha Finalización Congreso</label>
                            <input type="datetime-local" name="fechaSalidaCongreso" class="form-control" placeholder="20/04/2019" [(ngModel)]="this.dataCongress.selectedCongreso.fechaSalidaCongreso">
                        </div>
                    </div>

                  <hr>

                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="subirImagenSinoptico($event)">
                      <label class="custom-file-label" for="inputGroupFile01">Subir imagen</label>
                    </div>
                  </div>
                  <br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'"></div>
                  </div>
                  <br>
                  <input type="hidden" #imageUser [value]="urlImage | async">
                  <!-- URL en Firebase de la imagen que se almacena -->


                  <ng-template #btnDisable>
                    <button type="submit" disabled=true class="btn btn-lg btn-secondary btn-block">Guardar Sinóptico</button>
                  </ng-template>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseCongreso>Cerrar</button>
                    <button *ngIf="urlImage | async; else btnDisable" type="submit" class="btn btn-primary">Guardar Congreso</button>
                  </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para el invitado -->

<div class="modal fade" id="modalGuest" tabindex="-1" role="dialog" aria-labelledby="modalGuest" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalInvitado">
                    {{ !this.dataGuest.selectedInvitado.idInvitado ? 'Nuevo Invitado' : 'Actualizar Invitado'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #guestForm="ngForm" (ngSubmit)="onSaveCongress(guestForm, 'invitado')">

                    <input type="hidden" name="idInvitado" [(ngModel)]="this.dataGuest.selectedInvitado.idInvitado">

                    <input type="hidden" name="userUid" [value]="userUid">

                    <div class="form-group">
                        <label for="dni" class="col-form-label">DNI (Documento Nacional de Identidad)</label>
                        <input type="text" class="form-control" name="dni" [(ngModel)]="this.dataGuest.selectedInvitado.dni" placeholder="XXXXXXXX-[A-Z]">
                        <!-- Para cuando realicemos un update -->
                    </div>

                  <div class="form-group">
                    <label for="nombreCongreso" class="col-form-label">Nombre del congreso</label>
                    <select class="form-control select" (change)="obtenerNombreCongreso($event)"><!-- Modificar para mañana -->
                      <option value="nombreCongreso">Seleccione el congreso</option>
                      <option *ngFor="let congreso of congress" value="{{congreso.idCongreso}}">{{congreso.nombreCongreso}}</option>
                    </select>
                  </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" class="form-control" placeholder="Marío" [(ngModel)]="this.dataGuest.selectedInvitado.nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" name="apellidos" class="form-control" placeholder="Luna" [(ngModel)]="this.dataGuest.selectedInvitado.apellidos">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="telefono">Teléfono</label>
                            <input type="number" name="telefono" class="form-control" placeholder="96-157-05-12" [(ngModel)]="this.dataGuest.selectedInvitado.telefono">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="correo">Correo</label>
                            <input type="email" name="correo" class="form-control" placeholder="example@example.com" [(ngModel)]="this.dataGuest.selectedInvitado.correo">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseInvitado>Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Invitado</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de las Salas -->

<div class="modal fade" id="modalRoom" tabindex="-1" role="dialog" aria-labelledby="modalRoom" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalSala">
                    {{ !this.dataRoom.selectedSala.id ? 'Nueva Sala' : 'Actualizar Sala'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #roomForm="ngForm" (ngSubmit)="onSaveCongress(roomForm, 'sala')">

                    <input type="hidden" name="id" id="id" [(ngModel)]="this.dataRoom.selectedSala.id">
                    <!-- Almacenar la ID del libro. -->

                    <input type="hidden" name="userUid" [value]="userUid">

                    <div class="form-group">
                        <label for="title" class="col-form-label">Nombre de Sala</label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="this.dataRoom.selectedSala.title" placeholder="Sala Plenaria">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombreCongreso">Nombre del Congreso</label>

                            <select class="form-control select" (change)="obtenerNombreCongreso($event)">
                                <option value="">Seleccione el congreso</option>
                                <option *ngFor="let congreso of congress" value="{{congreso.idCongreso}}">{{congreso.nombreCongreso}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseRoom>Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Sala</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Sinoptico -->

<div class="modal fade" id="modalSinaptics" tabindex="-1" role="dialog" aria-labelledby="modalSinaptics" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalSinoptico">
                    {{ !this.sinaptic.selectedSinaptic.idSinaptico ? 'Nuevo Sinóptico' : 'Actualizar Sinóptico'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #sinopticForm="ngForm" (ngSubmit)="onSaveCongress(sinopticForm, 'sinoptico')">

                    <input type="hidden" name="idSala" [(ngModel)]="this.sinaptic.selectedSinaptic.idSinaptico">
                    <!-- Almacenar la ID del libro. -->

                    <input type="hidden" name="userUid" [value]="userUid">

                    <div class="form-group">
                        <label for="nombreSinaptico" class="col-form-label">Nombre del Sinóptico</label>
                        <input type="text" class="form-control" name="nombreSinaptico" [(ngModel)]="this.sinaptic.selectedSinaptic.nombreSinaptico" placeholder="Programa Sinóptico 30 Enfermeras">
                    </div>

                    <div class="form-group">
                        <label for="descripcionSinaptico" class="col-form-label">Descripción</label>
                        <input type="text" class="form-control" name="descripcionSinaptico" [(ngModel)]="this.sinaptic.selectedSinaptic.descripcionSinaptico" placeholder="Congreso del 27 al 29 de marzo">
                    </div>

                    <div class="form-group">
                      <label for="nombreCongreso" class="col-form-label">Nombre del congreso</label>
                      <select class="form-control select" (change)="obtenerNombreCongreso($event)"><!-- Modificar para mañana -->
                      <option value="">Seleccione el congreso</option>
                      <option *ngFor="let congreso of congress" value="{{congreso.idCongreso}}">{{congreso.nombreCongreso}}</option>
                     </select>
                    </div>

                    <hr>

                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="subirImagenSinoptico($event)">
                            <label class="custom-file-label" for="inputGroupFile01">Subir imagen</label>
                        </div>
                    </div>
                    <br>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'"></div>
                    </div>
                    <br>
                    <input type="hidden" #imageUser [value]="urlImage | async">
                    <!-- URL en Firebase de la imagen que se almacena -->


                    <ng-template #btnDisable>
                        <button type="submit" disabled=true class="btn btn-lg btn-secondary btn-block">Guardar Sinóptico</button>
                    </ng-template>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseSinaptic>Cerrar</button>
                        <button *ngIf="urlImage | async; else btnDisable" type="submit" class="btn btn-primary">Guardar Sinóptico</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal Eventos -->

<div class="modal fade" id="modalEvents" tabindex="-1" role="dialog" aria-labelledby="modalEvents" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalEvento">
          {{ !this.dataEvent.selectedEvent.idEvent ? 'Nuevo Evento' : 'Actualizar Evento'}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #eventForm="ngForm" (ngSubmit)="onSaveCongress(eventForm, 'evento')">

          <input type="hidden" name="idEvent" [(ngModel)]="this.dataEvent.selectedEvent.idEvent">

          <input type="hidden" name="userUid" [value]="userUid">

          <div class="form-group">
            <label for="nombreCongreso" class="col-form-label">Nombre del congreso</label>
            <select class="form-control select" (change)="obtenerNombreCongreso($event)"><!-- Modificar para mañana -->
              <option value="">Seleccione el congreso</option>
              <option *ngFor="let congreso of congress" value="{{congreso.idCongreso}}">{{congreso.nombreCongreso}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="resourceId" class="col-form-label">Nombre de la sala</label>
            <select class="form-control select" (change)="obtenerNombreSala($event)" name="resourceId"><!-- Modificar para mañana -->
             <option value="">Seleccione la sala</option>
             <option *ngFor="let room of rooms" name="resourceId" value="{{room.id}}">{{room.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="title" class="col-form-label">Nombre Evento</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="this.dataEvent.selectedEvent.title" placeholder="Inaguración Evento">
          </div>

          <div class="form-group">
            <label for="color" class="col-form-label">Escoge un color</label>
            <input type="color" list="seleccionColores" class="form-control" name="color" [(ngModel)]="this.dataEvent.selectedEvent.color" placeholder="2019-06-12T19:30">
            <datalist id="seleccionColores">
              <option>#4a86e8</option>
              <option>#cccd79</option>
              <option>#990000</option>
              <option>#660000</option>
              <option>#330000</option>
              <option>red</option> <!--ignored as invalid -->
              <option>#F00</option> <!--ignored as invalid -->
            </datalist>
          </div>

          <hr>

          <div class="form-group">
            <label for="start" class="col-form-label">Hora Inicio Sesión (Si usas Safari, deberás escribirlo a mano)</label>
            <input type="datetime-local" class="form-control" name="start" [(ngModel)]="this.dataEvent.selectedEvent.start" placeholder="2019-06-12T19:30">
          </div>

          <div class="form-group">
            <label for="end" class="col-form-label">Hora Fin Sesión (Si usas Safari, deberás escribirlo a mano)</label>
            <input type="datetime-local" class="form-control" name="end" [(ngModel)]="this.dataEvent.selectedEvent.end" placeholder="2019-06-13T19:30">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseEvents>Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para el equipamiento en las salas -->

<div class="modal fade" id="modalEquipment" tabindex="-1" role="dialog" aria-labelledby="modalEquipment" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalEquipamiento">
          {{ !this.dataEquipment.selectedEquipamiento.idEquipamiento ? 'Nuevo Equipamiento' : 'Actualizar Equipamiento'}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #equipmentForm="ngForm" (ngSubmit)="onSaveCongress(equipmentForm, 'equipamiento')">

          <input type="hidden" name="idEquipamiento" [(ngModel)]="this.dataEquipment.selectedEquipamiento.idEquipamiento">

          <input type="hidden" name="userUid" [value]="userUid">

          <div class="form-group">
            <label for="nombreCongreso" class="col-form-label">Nombre del Congreso:</label>
            <input type="text" class="form-control" name="nombreCongreso" [(ngModel)]="this.dataEquipment.selectedEquipamiento.nombreCongreso" placeholder="{{nombreCongresoSeleccionado}}" disabled>
          </div>

          <div class="form-group">
            <label for="cantidad" class="col-form-label">Cantidad:</label>
            <input type="number" class="form-control" name="cantidad" min="0" [(ngModel)]="cantidadEquipamientoSala" placeholder="10">
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="familia">Familia</label>
              <input type="text" name="familia" class="form-control" placeholder="TV" [(ngModel)]="this.dataEquipment.selectedEquipamiento.familia">
            </div>

            <div class="form-group">
              <label for="subfamilia">Subfamilia</label>
              <input type="text" name="subfamilia" class="form-control" placeholder="Monitor Hanss HW246HBB" [(ngModel)]="this.dataEquipment.selectedEquipamiento.subfamilia">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="producto">Producto</label>
              <input type="text" name="producto" class="form-control" placeholder="HSG1269" [(ngModel)]="this.dataEquipment.selectedEquipamiento.producto">
            </div>

            <div class="form-group">
              <label for="numeroSerie">Número de serie</label>
              <input type="text" name="numeroSerie" class="form-control" placeholder="4347Q3C500197" [(ngModel)]="this.dataEquipment.selectedEquipamiento.numeroSerie">
            </div>
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" name="descripcion" class="form-control" placeholder="HSG1269" [(ngModel)]="this.dataEquipment.selectedEquipamiento.descripcion">
          </div>

          <div class="form-group">
            <label for="proveedor">Proveedor</label>
            <input type="text" name="proveedor" class="form-control" placeholder="PYMEMATICA" [(ngModel)]="this.dataEquipment.selectedEquipamiento.proveedor">
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="valor1">Primer Valor</label>
              <input type="number" name="valor1" class="form-control" placeholder="115" min="0" [(ngModel)]="this.dataEquipment.selectedEquipamiento.valor1">
            </div>

            <div class="form-group">
              <label for="valor2">Segundo Valor</label>
              <input type="number" name="valor2" class="form-control" placeholder="70" min="0" [(ngModel)]="this.dataEquipment.selectedEquipamiento.valor2">
            </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseEquipment>Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar Evento</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para almacenar los equipamientos en las salas -->


<!-- Modal para el equipamiento en las salas -->
<div class="modal fade" id="wareHouseForm" tabindex="-1" role="dialog" aria-labelledby="wareHouseForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalEquipamiento">Añadir Equipamiento para Salas
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #roomEquipment="ngForm" (ngSubmit)="onSaveCongress(roomEquipment, 'roomEquipment')">

          <input type="hidden" name="id" [(ngModel)]="this.dataRoomEquipment.select.id">

          <input type="hidden" name="idEquipamiento" [(ngModel)]="this.dataEquipment.selectedEquipamiento.idEquipamiento">

          <input type="hidden" name="userUid" [value]="userUid">

          <div class="form-group" hidden>
            <label for="nombreCongreso" class="col-form-label">Nombre del Congreso:</label>
            <input type="text" class="form-control" name="nombreCongreso" [(ngModel)]="this.dataEquipment.selectedEquipamiento.nombreCongreso" placeholder="{{nombreCongresoSeleccionado}}" >
          </div>

          <div class="form-group">
            <label for="nombreSala" class="col-form-label">Nombre de la sala</label>
            <select class="form-control select" (change)="obtenerNombreSala($event)" name="nombreSala"><!-- Modificar para mañana -->
              <option value="">Seleccione la sala</option>
              <ng-container *ngFor="let room of rooms">
                <option  *ngIf="room.nombreCongreso == nombreCongresoSeleccionado" name="nombreSala" value="{{room.title}}">{{room.title}}</option>
              </ng-container>
            </select>
          </div>

          <div class="form-group">
            <label for="cantidad" class="col-form-label">Cantidad:</label>
            <input type="number" class="form-control" [(ngModel)]="cantidadEquipamientoSala" name="cantidad" min="0" [max]="this.dataEquipment.selectedEquipamiento.cantidad" placeholder="10">
          </div>

          <div class="form-row" hidden>
            <div class="form-group">
              <label for="familia">Familia</label>
              <input type="text" name="familia" class="form-control"  [(ngModel)]="this.dataEquipment.selectedEquipamiento.familia">
            </div>

            <div class="form-group" hidden>
              <label for="subfamilia">Subfamilia</label>
              <input type="text" name="subfamilia" class="form-control"  [(ngModel)]="this.dataEquipment.selectedEquipamiento.subfamilia">
            </div>
          </div>

          <div class="form-row" hidden>
            <div class="form-group">
              <label for="numeroSerie">Número de serie</label>
              <input type="text" name="numeroSerie" class="form-control" [(ngModel)]="this.dataEquipment.selectedEquipamiento.numeroSerie">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseEquipment>Cerrar</button>
            <button type="submit" class="btn btn-primary" (click)="updateEquipment(this.dataEquipment.selectedEquipamiento.idEquipamiento, cantidadEquipamientoSala, 'restar')" >Guardar Evento</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateRoomEquipment" tabindex="-1" role="dialog" aria-labelledby="updateRoomEquipment" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalEquipamiento">Actualizar la cantidad disponible
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateRoomEquipments="ngForm" (ngSubmit)="onSaveCongress(updateRoomEquipments, 'roomEquipment')">

          <input type="hidden" name="id" [(ngModel)]="this.dataRoomEquipment.select.id">

          <input type="hidden" name="userUid" [value]="userUid">

          <div class="form-group">
            <label for="cantidad" class="col-form-label">Cantidad:</label>
            <input type="number" class="form-control"  name="cantidad" min="0" [max]="this.dataEquipment.selectedEquipamiento.cantidad" [(ngModel)]="this.dataRoomEquipment.select.cantidad" placeholder="10">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnCloseUpdateRoomEquipment>Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar Evento</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
