<app-navbar></app-navbar>

<section>
    <link rel="stylesheet" href="assets/css/stylesHom.css">
    <div class="borde">
        <div class="jumbotron jumbotron-fluid border rounded border-info" id="diseno" style="background-color: rgba(140,214,245,0.28);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-4 offset-lg-0"><img class="img-fluid" src="/assets/img/error404.png" width="400" height="400"></div>
                    <div class="col-md-6 col-lg-8">
                        <h1 class="text-center" id="titulo">Heading</h1>
                        <h3 id="descrip">Descripción (Congresos)</h3>
                        <p>No només ha sobreviscut cinc segles, sinó que ha fet el salt cap a la creació de tipus de lletra electrònics, romanent essencialment sense canvis.&nbsp;</p>
                        <h3 id="descrip">Descripción (Sinoptico)</h3>
                        <p>No només ha sobreviscut cinc segles, sinó que ha fet el salt cap a la creació de tipus de lletra electrònics, romanent essencialment sense canvis.&nbsp;</p>
                    </div>
                    <div class="col-lg-12">
                        <h1 class="text-center">Invitados</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Dni</th>
                                        <th>Teléfono</th>
                                        <th>Correo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cell 1</td>
                                        <td>Cell 2</td>
                                        <td>Cell 3</td>
                                        <td>Cell 4</td>
                                        <td>Cell 5</td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <h1 class="text-center">Salas</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre Sala</th>
                                        <th>Fecha Congreso</th>
                                        <th><strong>Nombre Congreso</strong></th>
                                        <th><strong>Nombre Sessión</strong></th>
                                        <th><strong>Hora Inicio</strong></th>
                                        <th>Hora Final</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cell 1</td>
                                        <td>Cell 2</td>
                                        <td>Cell 3</td>
                                        <td>Cell 4</td>
                                        <td>Cell 5</td>
                                        <td>Cell 6</td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jqueryHom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>

</section>