<section>
    <link rel="stylesheet" href="assets/css/stylesForPass.css">

    <div class="jumbotron jumbotron-fluid " id="Jump">
        <div class="container-fluid centrar">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-sm-12 col-md-1 col-lg-1 "></div>
                <div class="col-12 col-sm-12 col-md-10 col-lg-10 ">
                    <h1 class="text-center">Resetear Contraseña</h1>
                    <p class="text-center mt-3">Por favor ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña.</p>
                    <div class="d-flex justify-content-center mt-3">
                        <input class="border rounded text-center" type="text" placeholder=" Dirección de correo" autocomplete="on" style="width: 200px;" #passwordResetEmail required>
                    </div>
                    <p class="text-center mt-3">
                        <a class="btn btn-link btn-sm" role="button" routerLink="/user/login">Volver al Login</a>
                        <br>
                        <a class="btn btn-primary mt-3" role="button" (click)="authService.recoverPassword(passwordResetEmail.value)" style="color:white">Resetear Contraseña</a>
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-1 col-lg-1 "></div>
            </div>
        </div>
    </div>
</section>
<script src="assets/js/jqueryForPass.min.js"></script>