<section>
    <link rel="stylesheet" href="assets/css/stylesForPass.css">
    <div class="jumbotron jumbotron-fluid" id="Jump" style="height: 100vh;width: 100%;">
        <div class="container">
            <h1 class="text-center">Resetear Contraseña</h1>
            <p class="text-center">Por favor ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña.</p>
            <div class="d-lg-flex justify-content-lg-center">
              <input class="border rounded d-lg-flex" type="text" placeholder="Dirección de correo" autocomplete="on" style="width: 200px;" #passwordResetEmail required></div>
            <p class="text-center">
              <a class="btn btn-link btn-sm" role="button" routerLink="/user/login">Volver al Login</a>
              <br>
              <a class="btn btn-primary" role="button" (click)="authService.recoverPassword(passwordResetEmail.value)">Resetear Contraseña</a>
            </p>
        </div>
    </div>
</section>
<script src="assets/js/jqueryForPass.min.js"></script>
