<!--<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Reset Password</h3>

            <p class="text-center">Please enter your email address to request a password reset.</p>

            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
            </div>

            <!-- Calling ForgotPassword from AuthService Api 
            <div class="formGroup">
                <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.recoverPassword(passwordResetEmail.value)">
            </div>
        </div>

        <div class="redirectToLogin">
            <span>Go back to ? <span routerLink="/user/login">Log In</span></span>
        </div>

    </div>
</div>-->
<section>
    <link rel="stylesheet" href="assets/css/stylesForPass.css">
    <div class="jumbotron jumbotron-fluid" id="Jump" style="height: 100vh;width: 100%;">
        <div class="container">
            <h1 class="text-center">Resetear Contraseña</h1>
            <p class="text-center">Por favor ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña.</p>
            <div class="d-lg-flex justify-content-lg-center"><input class="border rounded d-lg-flex" type="text" placeholder="Dirección de correo" autocomplete="on" style="width: 200px;"></div>
            <p class="text-center"><a class="btn btn-link btn-sm" role="button" href="#">Volver al Login</a><br><a class="btn btn-primary" role="button" href="#">Resetear Contraseña</a></p>
        </div>
    </div>
</section>
<script src="assets/js/jqueryForPass.min.js"></script>