#box-1 {
    height: 100vh;
    width: 100%;
    background-image: url(i1.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box-2 {
    height: 50vh;
    width: 100%;
    background-image: url(assets/img/fotosExterior/r.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box-3 {
    height: 100vh;
    width: 100%;
    background-image: url(i3.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

h3#todas {
    color: white;
    display: table-cell;
    vertical-align: middle;
}

#brand-logo {
    font-size: 34px;
}

#app-navbar {
    background: linear-gradient(120deg, #07a2c9, #3b69d4);
}

.colorJum {
    background: linear-gradient(20deg, #f6fafa, #e7e7eb);
    margin-top: -20px;
}

div.jumbotron.carousel-hero {
    text-align: center;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
}

div.jumbotron.hero-nature {
    background-image: url('assets/img/fotosExterior/architect-at-the-construction.jpg');
}

div.jumbotron.hero-photography {
    background-image: url('assets/img/fotosExterior/architects-and-worker.jpg');
}

div.jumbotron.hero-technology {
    background-image: url('assets/img/fotosExterior/young-college-students.jpg');
}

h1.hero-title,
h2.hero-title,
h3.hero-title {
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    color: #fff;
}

p.hero-subtitle {
    max-width: 600px;
    margin: 25px auto;
    padding: 10px 15px;
    color: #fff;
}

.plat {
    border-radius: 0px;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #016090;
    border-color: #016090;
}

.btn.btn-primary {
    background-color: #048f83!important;
    border-color: #048f83!important;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
}

span {
    font-style: inherit;
    font-weight: inherit;
}

#perso {
    margin-top: 8%;
}

#colabo {
    width: 100%;
    height: 20%;
}

#titulo {
    margin-top: 15%;
}

#salto {
    margin-bottom: 5%;
}

.cust_bloglistintro h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
}

@media (max-width:767px) {
    .cust_bloglistintro h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.cust_bloglistintro {
    max-width: 500px;
    margin: 0 auto;
}

.cust_blogteaser {
    text-align: center;
    padding-top: 40px;
}

.cust_blogteaser p {
    font-size: 14px;
}

.cust_blogteaser h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


/* Cards */

.box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.card:before,
.card:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index: -1;
}

.card .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgb(95, 177, 231);
    transition: 0.5s;
    z-index: 1;
}

.card:hover .imgBx {
    bottom: 150px;
}

.card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 130px;
    text-align: center;
}

.card .details h2 {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 17px;
    color: #71C0F6;
    text-transform: uppercase;
}

.card .details p {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-weight: 500;
    font-size: 13px;
}


/* Clientes */

.tech-slideshow {
    height: 240px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.tech-slideshow>div {
    height: 100%;
    width: 7000px;
    background: url(assets/img/fotosExterior/collage.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.tech-slideshow .mover-1 {
    animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(1%);
    }
    95% {
        transform: translateX(-40%);
    }
}

.congre {
    margin-bottom: -50px;
    text-align: center;
}


/* Cards 2 */

.color {
    background: linear-gradient(20deg, #f6fafa, #e7e7eb);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.espacio {
    margin-top: 2%;
}

.cuadradoColor {
    -webkit-box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.fotos {
    width: 120px;
    height: 45px;
    margin-left: 2%;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* Mapa */

iframe {
    margin-top: 2%;
    width: 100%;
    height: 450px;
    border: 0;
}


/*  Contacto   */

.contact-right-info h3 {
    color: #eee;
    font-size: 24px;
    letter-spacing: 1px;
}

.form h3 {
    color: #333;
    font-size: 24px;
    letter-spacing: 1px;
}

.contact-right-info p {
    margin: 0;
    font-size: 15px;
    color: #999;
    letter-spacing: 1px;
}

.main_grid_contact {
    -webkit-box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.form {
    padding: 4em 4em;
    background: #fff;
    border: 1px solid #ddd;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 15px 20px;
    width: 49%;
    color: #fff;
    box-sizing: border-box;
    outline: none;
    background: transparent;
    float: left;
    margin-bottom: 1em;
}

.form-group input.margin2 {
    margin-right: 2%;
}

.input-group1 button.btn {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    color: honeydew;
    background: linear-gradient(120deg, #07a2c9, #3b69d4);
    padding: 17px 15px;
    border: none;
    transition: all 0.5s ease-in;
    font-weight: 700;
    margin: 1em auto;
    height: 50px;
    text-align: center;
    display: block;
}

textarea {
    font-size: 0.9em;
    resize: none;
    text-transform: capitalize;
    padding: 15px 20px;
    letter-spacing: 1px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    color: #666;
    background: transparent;
}

.contact-right-info address p span {
    width: 25px;
    margin-left: 0px;
    display: inline-block;
    color: #fff;
}

.contact-right-info address p,
.contact-right-info address p a {
    color: #bbb;
}

.contact-right-info address {
    margin-bottom: 2rem;
    margin-top: 2rem;
}