<!-- Diseño finalizado-->
<app-navbar-exterior></app-navbar-exterior>
<section>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Login</h5>
                        <form class="form-signin " (submit)="onLogin()">
                            <div class="form-label-group">
                                <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico" required autofocus>
                                <label for="email" class="textos">Correo electrónico</label>
                            </div>

                            <div class="form-label-group">
                                <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                                <label for="password" class="textos">Contraseña</label>
                            </div>

                            <div class="d-flex justify-content-center mb-3">
                                <a routerLink="/user/register" class="text_cen">¿ Aún no estás registrado/a ?</a>
                            </div>

                            <div class="d-flex justify-content-center mb-3">
                                <a routerLink="/user/forgot-password" class="text_cen">¿ Olvidaste la contraseña ?</a>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase " type="submit">Entrar</button>
                            <hr class=" barra ">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" (click)="onLoginGoogle()" type="submit"><i class="fab fa-google fa-lg mr-2 "></i>Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" (click)="onLoginFacebook()" type="submit"><i class="fab fa-facebook-f fa-lg mr-2"></i>Facebook</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>