<link rel="stylesheet" href="assets/css/stylesCarac.min.css">
<nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/img/logo2.png">

        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Inicio</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Características</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Third Item</a></li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <div class="jumbotron jumbotron-fluid colorJum" style="background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-5"><img class="img-fluid sombras" src="assets/img/caracteristicas.png"></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-7 offset-md-0">
                    <h2 class="salto margen" id="titulo">Check in <button class="btn btn-info">Nuevo</button> </h2>
                    <p class="colorFa salto" id="perso">FACILITA LA ENTRADA DE LOS ASISTENTES A TU EVENTO CON LA APP DE CHECK IN</p>
                    <p class="salto " id="perso">· Puedes subir un listado de asistentes o integrar un formulario de registro personalizado.</p>
                    <p class="salto">· Crea automáticamente por cada asistente una acreditación y código QR.</p>
                    <p class="salto">· Envía esta entrada por email y ofrece la misma a través de la app del evento.</p>
                    <p class="salto">· Descarga nuestra app de check in desde Google Play y Apple Store para escanear los QRs de los asistentes o validar accesos de forma manual.</p>
                    <div class="d-flex justify-content-center">

                        <img class="fotos" src="assets/img/google.png">
                        <img class="fotos" src="assets/img/appstore.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="cust_bloglistintro">
            <h2 class="text-center">INFORMACIÓN PRÁCTICA</h2>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <div class="col-md-8">
                <hr>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

            <div class="col-md-3 cust_blogteaser color ">
                <img class="imgCard" src="assets/img/calendar1.png">
                <h3 class="centCard">Agenda</h3>
                <p class="text-secondary">Planifica la agenda completa y ordena las actividades como quieras a través de las categorías. En el detalle de cada sesión es posible especificar la fecha y la hora, la sala, el lugar, si es puntuable, si es un encabezado, la descripción,
                    los ponentes que participan y las comunicaciones asociadas. También es posible asociar documentos, muros, votaciones y preguntas al ponente. Los usuarios cuentan con la opción de guardar sesiones en el calendario de su dispositivo
                    y crear alertas.</p>
            </div>
            <div class="col-md-3 cust_blogteaser color">
                <img class="imgCard" src="assets/img/paint-palette-and-brush.png">
                <h3 class="centCard">Inscripción a sesiones <button class="btn btn-info">Nuevo</button> </h3>
                <p class="text-secondary">Permite que los asistentes puedan inscribirse a las sesiones, actividades o talleres de la agenda. Desde el panel de administración podrás elegir aquellas sesiones con posibilidad de inscripción, el número máximo de inscripciones y si
                    están activas o no. Los asistentes deberán identificarse en la app para poder realizar el registro en las sesiones y ver la disponibilidad de plazas en tiempo real. A través de su perfil personal, el usuario podrá revisar en todo momento
                    sus inscripciones para editarlas.</p>
            </div>
            <div class="col-md-3 cust_blogteaser color">
                <img class="imgCard" src="assets/img/headphones.png">
                <h3 class="centCard">Ponentes</h3>
                <p class="text-secondary">Publica el listado de ponentes con datos como el nombre, fotografía, puesto, organización, biografía, perfiles en redes sociales y sesiones en las cuales participan. Podrás asociar diferentes categorías a los participantes y ordenarlos
                    como quieras. Además, los ponentes pueden editar su propia ficha de información gracias al envío de un email automático desde el panel de administración de la app. Puedes configurar la app para que los usuarios puedan puntuar a los
                    ponentes.
                </p>
            </div>
            <div class="col-md-3 cust_blogteaser color">
                <img class="imgCard" src="assets/img/students-cap.png">
                <h3 class="centCard">Comunucaciones Cientificas</h3>
                <p class="text-secondary">Comparte las comunicaciones científicas de la convención con la posibilidad de ordenarlas como quieras. Incluye el ID, nombre, descripción, autores, el tipo de comunicación, si es puntuable y si tiene recursos asociados, entre otros. También
                    puedes crear categorías para dividirlas en secciones en función del interés. Se pueden asociar a sesiones de la agenda. Dentro de los abstracts se puede especificar la relación con los ponentes del congreso.</p>
            </div>
            <div class="col-md-3 cust_blogteaser color">
                <img class="imgCard" src="assets/img/paperclip.png">
                <h3 class="centCard">Documentos</h3>
                <p class="text-secondary">Incluye todos aquellos documentos adicionales que puedan resultar útiles para los asistentes como pdfs, información técnica o guías turísticas, entre otros. Estos recursos se pueden subir en la app y los usuarios pueden verlos sin salir
                    de la app, descargarlos o enviárselos por email. En este apartado de recursos se pueden incluir galerías de fotos, vídeos y audios.</p>
            </div>
            <div class="col-md-3 cust_blogteaser color">
                <img class="imgCard" src="assets/img/newspaper.png">
                <h3 class="centCard">Noticias</h3>
                <p class="text-secondary">Actualiza las noticias relacionadas con el evento. Establece la fecha de publicación, título, cuerpo de la noticia y añade recursos a cada una de ellas. Incluye texto e imágenes y promociona el nuevo contenido con el fin de captar la atención
                    de los usuarios. También es posible ordenarlas por categorías.</p>
            </div>
            <div class="col-md-3 cust_blogteaser color">
                <img class="imgCard" src="assets/img/star.png">
                <h3 class="centCard">Favoritos y notas</h3>
                <p class="text-secondary">Apartado en el cual cada asistente puede consultar el contenido de la app marcado como favorito (sesiones, ponentes, expositores, comunicaciones y lugares de interés, entre otros). También es posible acceder desde este apartado a las diferentes
                    notas creadas en las secciones de la app. Muy útil para que los usuarios puedan crear su propio itinerario del evento y consultar aquella información destacada.</p>
            </div>
            <div class="col-md-3 cust_blogteaser color">
                <img class="imgCard" src="assets/img/maps-and-flags.png">
                <h3 class="centCard">Mapa</h3>
                <p class="text-secondary">Incluye la sede del evento dentro de la app. Muestra a los asistentes la ubicación exacta del venue en el mapa, dirección y opciones de cómo llegar. Un apartado indispensable para situar a los usuarios que proceden de fuera y quieren asistir
                    a la reunión.</p>
            </div>
            <div class="col-md-3 cust_blogteaser color">
                <img class="imgCard" src="assets/img/signpost.png">
                <h3 class="centCard">Lugares de interés</h3>
                <p class="text-secondary">Añade todos los lugares de interés relacionados con el evento. Puedes crear diferentes apartados en función de la tipología (restaurantes, hoteles, puntos turísticos, etc.), incluir la posición en el mapa, imágenes y ficheros. Usa el GPS
                    o la red de datos para guiar a los asistentes a los puntos de interés.</p>
            </div>
        </div>
        <div id="salto"></div>
    </div>

    <div class="jumbotron jumbotron-fluid " style="background-size: cover;">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">

                <div class="col-md-12 text-center">
                    <h2>Personalización</h2>
                    <p class="text-secondary"><i class="fa fa-quote-left" aria-hidden="true"></i> Muestra tu identidad, personaliza la app y actualiza el contenido cuando quieras</p>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="col-md-8">
                        <hr>
                    </div>
                </div>
                <div class="col-md-2 cust_blogteaser color ">
                    <img class="imgCard" src="assets/img/paint-palette-and-brush.png">
                    <h3 class="centCard">Diseño único</h3>
                    <p class="text-secondary">Personaliza el diseño de las apps a través de las opciones que te ofrecemos desde el panel. Puedes elegir desde los colores de cada apartado, tipografía, orden y configuración de los módulos, iconos personalizados y mucho más. Y si
                        lo prefieres... puedes solicitar un diseño a medida</p>
                </div>
                <div class="col-md-2 cust_blogteaser color">
                    <img class="imgCard" src="assets/img/admin.png">
                    <h3 class="centCard">Administrable</h3>
                    <p class="text-secondary">Todo el contenido se puede administrar desde el panel de administración. Las cargas de datos pueden ser manuales y a través de archivos excel que facilitan la subida del contenido. También ponemos a tu disposición la experiencia de
                        nuestro equipo para gestionar toda la info.</p>
                </div>
                <div class="col-md-2 cust_blogteaser color">
                    <img class="imgCard" src="assets/img/loading.png">
                    <h3 class="centCard">Actualizable</h3>
                    <p class="text-secondary">La información que aparece se puede actualizar en cualquier momento. Todos los cambios se aplican de forma automática. Y de todas formas, el usuario también puede descargar los últimos datos de la aplicación desde el apartado de extras.
                    </p>
                </div>
                <div class="col-md-2 cust_blogteaser color">
                    <img class="imgCard" src="assets/img/cut.png">
                    <h3 class="centCard">Páginas a medida</h3>
                    <p class="text-secondary">Ponemos a tu disposición la opción de incluir secciones a medida según las necesidades del evento. Crea apartados de tipo estándar (aquellos que ya están disponibles), de texto libre (con texto libre e imágenes) o de tipo menú (para
                        crear secciones) con el fin de organizar la información como prefieras.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 text-center mt-4">
                <h2>Expositores / Patrocinadores</h2>
                <p class="text-secondary"><i class="fa fa-quote-left" aria-hidden="true"></i> Publica el listado de expositores del evento y saca el mayor beneficio a las aplicación móvil de tu evento</p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-8">
                    <hr>
                </div>
            </div>
            <div class="col-md-2 cust_blogteaser color ">
                <img class="imgCard" src="assets/img/id-card.png">
                <h3 class="centCard">Información completa</h3>
                <p class="text-secondary">Presenta la relación de empresas que exponen en el evento, incluyendo la información más relevante, el logotipo, datos de contacto y enlaces a redes sociales. Los expositores se pueden marcar como favoritos, crear anotaciones y marcar
                    como visitados.</p>
            </div>
            <div class="col-md-2 cust_blogteaser color">
                <img class="imgCard" src="assets/img/promotion.png">
                <h3 class="centCard">Anuncios</h3>
                <p class="text-secondary">Fomenta la visibilidad de las empresas expositoras creando anuncios específicos que los usuarios podrán visualizar a través de la app. Los anuncios se pueden crear por cada expositor y son espacios de tipo texto libre en el que se pueden
                    incluir imágenes y promociones.</p>
            </div>
            <div class="col-md-2 cust_blogteaser color">
                <img class="imgCard" src="assets/img/award.png">
                <h3 class="centCard">Patrocinable</h3>
                <p class="text-secondary">Aumenta los beneficios gracias a la posibilidad de conseguir que las empresas colaboradoras del evento patrocinen la aplicación del evento. Utiliza las diferentes secciones de la app para promocionar a estas empresas: banners publicitarios
                    en la home, apartados específicos, notificaciones push, etc.</p>
            </div>
        </div>
    </div>
    <div id="salto"></div>
    <div class="jumbotron jumbotron-fluid " style="background-size: cover;">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">

                <div class="col-md-12 text-center">
                    <h2>Interacción</h2>
                    <p class="text-secondary"><i class="fa fa-quote-left" aria-hidden="true"></i> Potencia la participación y engagement de los asistentes a través de la app móvil</p>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="col-md-8">
                        <hr>
                    </div>
                </div>
                <div class="col-md-2 cust_blogteaser color ">
                    <img class="imgCard" src="assets/img/computer.png">
                    <h3 class="centCard">Muros</h3>
                    <p class="text-secondary">Habilita este espacio para que los asistentes puedan enviar preguntas o comentarios sobre diferentes temas. También puedes crear muros sociales en los cuales los usuarios además pueden publicar fotografías sobre el evento. Se pueden
                        proyectar en pantalla. Disponible también la opción de enviar preguntas al ponente.</p>
                </div>
                <div class="col-md-2 cust_blogteaser color">
                    <img class="imgCard" src="assets/img/console.png">
                    <h3 class="centCard">Votaciones</h3>
                    <p class="text-secondary">Genera diferentes votaciones para que los asistentes puedan participar de forma activa en el evento contestando a una o más preguntas en tiempo real. Se pueden proyectar en pantalla completa dentro de la sala y lanzar un ranking de
                        resultados para fomentar la gamificación.</p>
                </div>
                <div class="col-md-2 cust_blogteaser color">
                    <img class="imgCard" src="assets/img/chat-bubble.png">
                    <h3 class="centCard">Encuesta</h3>
                    <p class="text-secondary">Realiza encuestas para conocer la opinión de los asistentes. Las preguntas pueden ser de selección de una respuesta, varias o de tipo texto libre. Los resultados pueden ser anónimos o no, y los resultados estarán disponibles en el
                        panel de administración.
                    </p>
                </div>
                <div class="col-md-2 cust_blogteaser color">
                    <img class="imgCard" src="assets/img/like.png">
                    <h3 class="centCard">Puntuaciones</h3>
                    <p class="text-secondary">Permite a los usuarios la posibilidad de puntuar las sesiones de la agenda, los ponentes y las comunicaciones. Las estadísticas de resultados se pueden seguir desde el panel y exportar los datos para una mayor comodidad.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 text-center mt-4">
                <h2>Comunicación con la Organización</h2>
                <p class="text-secondary"><i class="fa fa-quote-left" aria-hidden="true"></i> Permite una comunicación sencilla entre organizadores, asistentes y viceversa</p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-8">
                    <hr>
                </div>
            </div>
            <div class="col-md-2 cust_blogteaser color ">
                <img class="imgCard" src="assets/img/mail.png">
                <h3 class="centCard">Formulario de contacto</h3>
                <p class="text-secondary">Incluye un formulario a través del cual los usuarios puedan hacer comentarios o sugerencias a los organizadores directamente desde los dispositivos.</p>
            </div>
            <div class="col-md-2 cust_blogteaser color">
                <img class="imgCard" src="assets/img/add-user.png">
                <h3 class="centCard">Formularios de registro</h3>
                <p class="text-secondary">Añade un formulario de registro para que los asistentes puedan darse de alta a través de la app. Podrás elegir entre los campos que tenemos disponibles de forma estándar. O también podemos personalizar este registro en base a los criterios
                    que necesites.</p>
            </div>
            <div class="col-md-2 cust_blogteaser color">
                <img class="imgCard" src="assets/img/qr-code.png">
                <h3 class="centCard">Check In <button class="btn btn-info">Nuevo</button></h3>
                <p class="text-secondary">Facilita la entrada de los asistentes a tu evento con la app de check in. Puedes subir un listado de asistentes o integrar un formulario de registro personalizado. Crea automáticamente por cada asistente una acreditación y código QR. Envía
                    esta entrada por email y ofrece la misma a través de la app del evento. </p>
            </div>
        </div>
    </div>
    <div id="salto"></div>
    <div class="jumbotron jumbotron-fluid " style="background-size: cover;">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">

                <div class="col-md-12 text-center">
                    <h2>Analítica</h2>
                    <p class="text-secondary"><i class="fa fa-quote-left" aria-hidden="true"></i> Analiza el uso que ha tenido el servicio una vez finalizado el encuentro</p>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="col-md-8">
                        <hr>
                    </div>
                </div>
                <div class="col-md-2 cust_blogteaser color ">
                    <img class="imgCard" src="assets/img/pie-chart.png">
                    <h3 class="centCard">Estadísticas</h3>
                    <p class="text-secondary">Mide la participación de los asistentes del evento. En este apartado podrás consultar información específica sobre el uso que ha tenido cada apartado en concreto.</p>
                </div>
                <div class="col-md-2 cust_blogteaser color">
                    <img class="imgCard" src="assets/img/bar-chart.png">
                    <h3 class="centCard">Informes</h3>
                    <p class="text-secondary">Nuevo Envía por e-mail los resultados estadísticos del uso que ha tenido la aplicación de un determinado evento o congreso.</p>
                </div>

            </div>
        </div>
    </div>

</section>