<link rel="stylesheet" href="assets/css/stylesPrinCi.css">
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="assets/js/jqueryPrinCi.min.js"></script>


<app-navbar-exterior></app-navbar-exterior>
<section>
    <div class="jumbotron jumbotron-fluid colorJum" style="background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img class="img-fluid imgQr" src="assets/img/Union.png"></div>
                <div class="col-md-6 ">
                    <h2 class="text-center" id="titulo">Aplicación móvil para eventos, conferencias y congresos</h2>
                    <p class="text-left" id="perso">· Aplicaciones personalizadas 100%</p>
                    <p class="text-left">· Potencia la interacción de los asistentes</p>
                    <p class="text-left">· Analiza las estadísticas de uso una vez finalizado el evento</p>
                    <p class="text-center"><a class="btn btn-info active btn-block" role="button" routerLink="/precios">Precio</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <div>
            <div class="container-fluid">
                <div class="cust_bloglistintro">
                    <h2 class="text-center">¿ Por qué elegirnos ?</h2>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-1"></div>
                    <div class="col-md-2 cust_blogteaser color">
                        <img class="img-fluid" src="assets/img/calendar.png">
                        <h3>Organización</h3>
                        <p class="text-secondary">Todos los módulos que puedas necesitar ya disponibles en la aplicación para tu evento </p>
                    </div>
                    <div class="col-md-2 cust_blogteaser color">
                        <img class="img-fluid" src="assets/img/paint.png">
                        <h3>Diseño único</h3>
                        <p class="text-secondary">Personaliza la aplicación en función de la imagen y estilo del congreso </p>
                    </div>
                    <div class="col-md-2 cust_blogteaser color">
                        <img class="img-fluid" src="assets/img/loading.png">
                        <h3>Accesibilidad</h3>
                        <p class="text-secondary">Administra y actualiza el contenido siempre que quieras desde el panel </p>
                    </div>
                    <div class="col-md-2 cust_blogteaser color">
                        <img class="img-fluid" src="assets/img/multiple-users-silhouette.png">
                        <h3>Interacción</h3>
                        <p class="text-secondary">Establece nuevas formas de contacto directo con los asistentes </p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2 cust_blogteaser color">
                        <img class="img-fluid" src="assets/img/share.png">
                        <h3>Networking</h3>
                        <p class="text-secondary">Impulsa la participación de los asistentes con los muros, votaciones y encuestas </p>
                    </div>
                    <div class="col-md-2 cust_blogteaser color">
                        <img class="img-fluid" src="assets/img/maps-and-flags.png">
                        <h3>Multiidioma</h3>
                        <p class="text-secondary">Varios idiomas: español, gallego, inglés, francés, italiano, alemán y portugués </p>
                    </div>
                    <div class="col-md-2 cust_blogteaser color">
                        <img class="img-fluid" src="assets/img/paperclip.png">
                        <h3>Información</h3>
                        <p class="text-secondary">Establece nuevas formas de contacto directo con los asistentes </p>
                    </div>
                    <div class="col-md-2 cust_blogteaser color">
                        <img class="img-fluid" src="assets/img/rocket.png">
                        <h3>Flexibilidad</h3>
                        <p class="text-secondary">Diferentes opciones y todo ello al mejor precio. Sencillo, rápido y económico<br></p>
                    </div>
                </div>
                <div id="salto"></div>
            </div>
        </div>
    </div>
    <div class="congre">
        <h2 class=" mb-4">Congresos donde se ha usado esta aplicación</h2>
    </div>

    <div class="tech-slideshow mb-4 ">
        <div class="mover-1 mt-5"></div>
    </div>
    <div id="salto"></div>
    <div id="box-2">
        <h3 class="text-center" id="todas"><em>Todas las características de las aplicaciones móviles para eventos</em></h3>
    </div>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="box">
                <div class="card">
                    <div class="imgBx">
                        <img src="assets/img/medicos.jpg" alt="images">
                    </div>
                    <div class="details">
                        <h2>Congresos médicos</h2>
                        <p><span>
                            Crea a través de la plataforma apps para congresos médicos y sector farma. Conoce todas las funcionalidades específicas para este tipo de casos.</span>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="imgBx">
                        <img src="assets/img/viajes.jpg" alt="images">
                    </div>
                    <div class="details">
                        <h2>Viajes de incentivo</h2>
                        <p> <span>Comienza a crear la app de tu viaje de incentivos aquí. En la plataforma encontrarás todo lo que necesitas para guiar y mantener informados a los asistentes.</span></p>
                    </div>
                </div>

                <div class="card">
                    <div class="imgBx ">
                        <img src="assets/img/evento.jpg" alt="images">
                    </div>
                    <div class="details">
                        <h2>Convenciones y eventos corporativos</h2>
                        <p><span>Si estás buscando una app para convenciones o eventos corporativos... ¡Softmedia es la respuesta! Involucra así a tus empleados y fomenta la participación.</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx">
                        <img src="assets/img/cursos.jpg" alt="images">
                    </div>
                    <div class="details">
                        <h2>Cursos, conferencias y jornadas</h2>
                        <p><span>Incluye aplicaciones para cursos y conferencias que organices y benefíciate de las ventajas. Tenemos diferentes opciones que seguro, te van a sorprender.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="mt-4">
            <h2 class="text-center">Descubre la tecnología para eventos que triunfa en todos los mercados</h2>
            <h4 class="text-center espacio">Ya disponible en las tiendas virtuales de Google Play y App Store .</h4>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-2 cust_blogteaser color">
                <img class="img-fluid" src="assets/img/idea.png">
                <p class="espacio">Si estás pensando en incluir una aplicación para tu próximo evento, esta puede ser la mejor solución.</p>
            </div>
            <div class="col-md-2 cust_blogteaser color">
                <img class="img-fluid" src="assets/img/on-slider.png">
                <p class="espacio">Publica tu congreso de forma instantánea y disfruta de todas las funcionalidades al mejor precio.</p>
            </div>
            <div class="col-md-2 cust_blogteaser color">
                <img class="img-fluid" src="assets/img/paint-palette-and-brush.png">
                <p class="espacio">Podrás personalizar la imagen de la reunión por completo, incluir todos los apartados que necesites, gestionar el contenido y actualizarlo siempre que quieras.</p>
            </div>
            <div class="col-md-2 cust_blogteaser color">
                <img class="img-fluid" src="assets/img/bar-chart1.png">
                <p class="espacio">Todos tus eventos en una sola app con las estadísticas de uso más avanzadas en tiempo real.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1 mt-4 cuadradoColor">
                <h2 class="text-center mt-3">Descarga esta nuestra app móvil ahora</h2>
                <div class="d-flex justify-content-center">

                    <img class="fotos" src="assets/img/google.png">
                    <img class="fotos" src="assets/img/appstore.png">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12320.235965441962!2d-0.4137009!3d39.467996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc0e34186b7ee67a5!2sSOFTMEDIA+PLANNER!5e0!3m2!1ses!2ses!4v1557224694283!5m2!1ses!2ses" width="100%"
                height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="main_grid_contact">
        <div class="form">
            <h3 class="text-uppercase mb-5 text-center">¿Tienes dudas? Contáctanos</h3>
            <form action="#" method="post">
                <div class="form-group mt-3">
                    <input type="text" class="margin2 form-control" name="name" placeholder="Nombre completo" required="">
                    <input type="text" name="name" class="form-control" placeholder="Empresa" required="">
                </div>
                <div class="form-group mt-3">
                    <input type="email" class="margin2 form-control" name="email" placeholder="Ejemplo@gmail.com" required="">
                    <input type="text" name="number" class="form-control" placeholder="Telefono movil" required="">
                </div>
                <div class="input-group mt-3">
                    <textarea rows="4" cols="50" class="form-control" placeholder="Mensaje"></textarea>
                </div>
                <div class="input-group1 mt-3">
                    <button class="submit btn form-control">Enviar </button>
                </div>
            </form>
        </div>
    </div>
</section>
