<app-navbar-exterior></app-navbar-exterior>

<section>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 mt-3">

                <h2 class="text-center">Modalidades de publicación de las apps móviles</h2>

            </div>

            <div class="col-12 col-sm-12 col-md-12  col-lg-12 d-flex justify-content-center mt-3">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 "></div>
                <div class="col-12 col-sm-12 col-md-6  col-lg-6">
                    <p class="text-secondary text-center"><i class="fa fa-quote-left" aria-hidden="true"></i> Ofrecemos diferentes opciones para publicar las apps de eventos. Dentro de las modalidades que puedes encontrar en Softmedia Planner contamos con la app container, web app e individual
                        para Android e iOS. ¡Te lo contamos!</p>
                </div>
                <div class="col-12 col-sm-12 col-md-3  col-lg-3"></div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid colorJum mt-4" style="background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-1 col-lg-1 "></div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 ">
                    <h2 class=" margen text-center text-secondary d-flex justify-content-center " style="font-weight: 800;">Individual Android/IOS </h2>

                    <p class="mt-4"><strong>Apps de eventos</strong> en las tiendas virtuales <strong>de forma individual</strong>. Disponibles con el nombre, logotipo e imagen del evento, <strong>personalizadas en Google Play y Apple Store</strong>.</p>
                    <p>Todas las funcionalidades que ofrece la plataforma incluidas. Disponible en tan sólo 15 días. Una vez preparada la app del evento, es necesario enviarla para su publicación en las tiendas. Podemos publicar la app en tus propias cuentas
                        de las tiendas virtuales, tanto en Google Play como en Apple Store. Si ya tienes una cuenta en las tiendas... ¡perfecto! Si no la tienes, y quieres crearla, te explicamos cómo hacerlo.</p>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center"><img class="img-fluid" src="assets/img/Androidios.png"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center"><img class="img-fluid" src="assets/img/Union2.png" style="margin-bottom: 20px"></div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
                <h2 class="salto margen text-center text-secondary  " style="font-weight: 800;"> Softmedia Planner App </h2>

                <p class="mt-4">¡Publica <strong>tu evento</strong> en <strong>Softmedia Planner app</strong>! </p>
                <p>Estará accesible para los usuarios de forma <strong>muy fácil y en cuestión de minutos.</strong></p>
                <p>La solución es <strong>totalmente nativa</strong> y los asistentes tan sólo tienen que descargarla de las tiendas virtuales (Google Play y Apple Store) para acceder.</p>
                <p><strong>El evento</strong> puede estar disponible en la app <strong>de forma pública o de forma privada</strong> a través de un código elegido y facilitado por los organizadores.</p>
                <p class="mb-4">La aplicación siempre recuerda el último evento visitado, aunque el usuario la cierre. <strong>En todo momento se puede acceder al menú principal</strong>, desde donde el asistente puede hacer tres cosas principalmente: <strong>ver los congresos públicos, buscar uno nuevo a través de un código o visitar la pestaña de "mis eventos"</strong>.</p>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid colorJum" style="background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-1 col-lg-1 "></div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 ">
                    <h2 class=" margen text-center text-secondary  " style="font-weight: 800;">Web app </h2>

                    <p class="mt-4">También es posible utilizar la <strong>versión web app</strong> como solución. Ofrece todos los beneficios de crear una aplicación para convenciones a través de Softmedia Planner, <strong>diseñada especialmente para acceder a ella desde cualquier navegador</strong>.
                        Evita que los usuarios tengan que pasar por el proceso de descarga en las tiendas, lo que muchas veces supone un inconveniente.</p>
                    <p>El acceso a la versión web puede ser <strong>a través de un enlace o código QR</strong>. Además, <strong>el usuario puede instalar una entrada directa en el escritorio de su dispositivo</strong> para consultar la info de una manera
                        más cómoda.</p>
                    <p>Es importante saber que hay algunas limitaciones en esta modalidad en comparación con las versiones nativas. En la versión web no se pueden enviar notificaciones push, publicar fotografías, descargar documentos o añadir sesiones al
                        propio calendario del dispositivo.</p>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center"><img class="img-fluid " src="assets/img/tablet.png"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 d-flex justify-content-center">

                <div class="col-md-3 cust_blogteaser color ">
                    <img class="imgCard" src="assets/img/puzzle.png">
                    <p class="text-secondary" style="margin-top: 10px">Accede a la información sobre las diferentes modalidades de publicar la aplicación, web app e individual para Android/iOS.</p>
                    <button type="button" class="btn " style="background: linear-gradient(120deg, #07a2c9, #3b69d4); color: white;  margin-bottom: 10px;">Características</button>
                </div>
                <div class="col-md-3 cust_blogteaser color">
                    <img class="imgCard" src="assets/img/start-up.png">
                    <p class="text-secondary" style="margin-top: 10px">Si aún estás dudando en incorporar un software en tu congreso... infórmate de todos los beneficios antes, durante y después del evento.</p>
                    <button type="button" class="btn " style="background: linear-gradient(120deg, #07a2c9, #3b69d4); color: white;  margin-bottom: 10px;">Beneficios</button>
                </div>
                <div class="col-md-3 cust_blogteaser color">
                    <img class="imgCard" src="assets/img/piggybank.png">
                    <p class=" text-secondary " style="margin-top: 10px">Tenemos diferentes opciones de contratación del servicio en función de las necesidades y características demandadas. ¡Pega el salto! </p>
                    <button type="button" class="btn " style="background: linear-gradient(120deg, #07a2c9, #3b69d4); color: white ; margin-bottom: 10px;">Precios</button>
                </div>
            </div>
        </div>
    </div>

</section>z